.c-blue {
	color: #00468b;
}

.bc-grey {
	background-color: #6f6f6f;
}

.bc-primary {
	background-color: #fafafa;
}

.f-10 {
	font-size: 10px;
}

.f-12 {
	font-size: 12px;
}

.f-14 {
	font-size: 14px;
}

.title {
	font-weight: bold;
	font-size: 30px;
}

.c-p {
	color: #bcbcbc;
	font-size: 16px;
}

.btn-default {
	background-color: #fcd209;
	text-align: center;
	padding: 10px 40px;
	color: #00468b;
	font-weight: bold;
}

.custom-shadow {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	border-radius: 10px;
}

.content-header {
	text-align: center;
	padding: 20px 0;
}

.section-banner {
	padding: 15px;
}

.section-banner .content-banner {
	background-image: url('img/banner-1.png');
	position: relative;
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
}

.section-banner .content-banner .content-logo {
	position: absolute;
	right: 0;
}

.content-desc {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.content-desc .content-desc-number {
	font-size: 60px;
	font-weight: bold;
	padding-right: 15px;
	border-right: 1px solid #fff;
	color: #fff;
}
.content-desc .content-desc-text {
	font-size: 45px;
	color: #fff;
	padding-left: 15px;
	text-transform: uppercase;
	line-height: 40px;
	font-weight: normal;
}

.content-text-buy h2 {
	font-size: 38px;
	color: #fff;
	font-weight: bold;
}

.content-text-buy p {
	line-height: 18px;
	color: #fff;
}

.section-text {
	padding: 50px 0;
	text-align: center;
}

.section-desc .content-logo-nike {
    position: absolute;
    top: 15px;
    right: 30px;
    padding: 20px;
}

.section-desc .content-info {
	padding-top: 50px;
	text-align: right;
}

.section-desc .content-info-watch {
	padding-bottom: 50px;
}

.section-desc img {
	border-radius: 10px;
}

.section-desc .content-watch {
	position: relative;
}

.section-desc .content-watch .content-logo-watch {
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}