.c-blue {
	color: #00468b;
}

.c-yellow {
	color: #ffd30a;
}

.bc-grey {
	background-color: #6f6f6f;
}

.bc-primary {
	background-color: #fafafa;
}

.f-10 {
	font-size: 10px;
}

.f-12 {
	font-size: 12px;
}

.f-14 {
	font-size: 14px;
}

.title {
	font-weight: bold;
	font-size: 30px;
}
.line {
	height: 1px;
	margin: 50px 0;
}

.c-p {
	color: #bcbcbc;
	font-size: 16px;
}

.btn-default {
	background-color: #fcd209;
	text-align: center;
	padding: 10px 40px;
	color: #00468b;
	font-weight: bold;
}

.custom-shadow {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	border-radius: 10px;
}

.content-header {
	text-align: center;
	padding: 20px 0;
}

.content-header p {
	font-size: 18px;
	color: #00468b;
	font-weight: bold;
}

.section-banner {
	padding: 15px;
	margin: 0 -15px;
}

.section-banner .content-banner {
	background-image: url('img/banner-1.png');
	position: relative;
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
}

.section-banner .content-banner .content-logo {
	position: absolute;
	right: 0;
}

.content-desc {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.content-desc .content-desc-number {
	font-size: 60px;
	font-weight: bold;
	padding-right: 15px;
	border-right: 1px solid #fff;
	color: #fff;
}
.content-desc .content-desc-text {
	font-size: 45px;
	color: #fff;
	padding-left: 15px;
	text-transform: uppercase;
	line-height: 40px;
	font-weight: normal;
}

.content-text-buy h2 {
	font-size: 38px;
	color: #fff;
	font-weight: bold;
}

.content-text-buy p {
	line-height: 18px;
	color: #fff;
}

.section-text {
	padding: 50px 0;
	text-align: center;
}

.section-buy-desc {
	padding: 50px 0;
	position: relative;
}

.section-buy-desc .content-info-banner {
	position: absolute;
	top: 0;
	margin-top: 50px;
	padding: 40px 50px;
	color: #fff;
}

.section-buy-desc .content-info-banner h1 {
	font-size: 48px;
}

.section-desc .content-logo-nike {
    position: absolute;
    top: 15px;
    right: 30px;
    padding: 20px;
}

.section-desc .content-info {
	padding-top: 50px;
	text-align: right;
}

.section-desc .content-info-watch {
	padding-bottom: 50px;
}

.section-desc img {
	border-radius: 10px;
}

.section-desc .content-watch {
	position: relative;
}

.section-desc .content-watch .content-logo-watch {
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-desc-img img {
	border-radius: 10px;
}

.content-info-desc {
	position: absolute;
	bottom: 0;
	padding: 15px 30px;
}

.content-info-desc h1 {
	font-size: 90px;
	color: #ffd30a;
	margin:0;
}

.content-info-desc p {
	font-size: 20px;
	font-weight: bold;
}

.content-info-desc h4 {
	font-size: 18px;
	color: #ffd30a;
}

.content-btn-prom {
	padding: 50px 0;
	text-align: center;
}

.content-btn-prom .btn {
	text-transform: uppercase;
	font-size: 38px;
}

.content-socials-icons {
	text-align: center;
}

.content-socials-icons ul {
	padding: 0;
	list-style: none;
}

.content-socials-icons h4 {
	margin-bottom: 30px;
}

.content-socials-icons ul li {
	display: inline-block;
	padding: 0 25px;
	border-right: 1px solid;
	height: 20px;
}

.content-socials-icons ul li .icon {
	vertical-align: inherit;
}