.c-blue {
	color: #00468b;
}

.c-default {
	color: #fff;
}

.c-yellow {
	color: #ffd30a;
}

.c-grey {
	color: #666666;
}

.b-b {
	border-bottom: 1px solid #ffd30a;
}

.bc-grey {
	background-color: #6f6f6f;
}

.bc-primary {
	background-color: #fafafa;
}

.bc-default {
	background-color: #fff;
}

.bc-row {
	background-color: #f0f0f0;
}

.f-10 {
	font-size: 10px;
}

.f-12 {
	font-size: 12px;
}

.f-14 {
	font-size: 14px;
}

.title {
	font-weight: bold;
	font-size: 30px;
}
.line {
	height: 1px;
	margin: 50px 0;
}

.c-p {
	color: #bcbcbc;
	font-size: 16px;
}

.custom-m-bottom-row {
	margin-bottom: 30px;
}

.p-30 {
	padding: 30px;
}

.p-50{
	padding: 50px;
}

.btn-default {
	background-color: #fcd209;
	text-align: center;
	padding: 10px 40px;
	color: #00468b;
	font-weight: bold;
}

.custom-shadow {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	border-radius: 10px;
}

.content-header {
	text-align: center;
	padding: 20px 0;
}

.content-header p {
	font-size: 18px;
	color: #00468b;
	font-weight: bold;
}

.section-banner {
	padding: 15px;
	margin: 0 -15px;
}

.landing-banner1 {
	background-image: url('img/banner-1.png');
}

.landing-banner3 {
	background-image: url('img/banner-3.jpg');	
}

.landing-banner4 {
	background-image: url('img/banner-4.png');
}

.landing-banner5 {
	background-image: url('img/banner-5.jpg');
}

.landing-banner6 {
	background-image: url('img/banner-6.png');	
}

.landing-banner7 {
	background-image: url('img/banner-7.png');
	background-position: center;
}

.landing-banner8 {
	background-image: url('img/banner-8.png');
	background-position: center;
}

.section-banner .content-banner {
	position: relative;
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
}

.content-logo {
	position: absolute;
	right: 0;
}

.content-desc {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.content-desc .content-desc-number {
	font-size: 60px;
	font-weight: bold;
	padding-right: 15px;
	border-right: 1px solid #fff;
	color: #fff;
}
.content-desc .content-desc-text {
	font-size: 45px;
	color: #fff;
	padding-left: 15px;
	text-transform: uppercase;
	line-height: 40px;
	font-weight: normal;
}

.content-text-buy h2 {
	font-size: 38px;
	color: #fff;
	font-weight: bold;
}

.content-text-buy p {
	line-height: 18px;
	color: #fff;
}

.section-text {
	padding: 50px 0;
	text-align: center;
}

.section-buy-desc {
	padding: 50px 0;
	position: relative;
}

.section-buy-desc .content-info-banner {
	position: absolute;
	top: 0;
	margin-top: 50px;
	padding: 40px 50px;
	color: #fff;
}

.section-buy-desc .content-info-banner h1 {
	font-size: 48px;
}

.section-desc .content-logo-nike {
    position: absolute;
    top: 15px;
    right: 30px;
    padding: 20px;
}

.section-desc .content-info {
	padding-top: 50px;
	text-align: right;
}

.section-desc .content-info-watch {
	padding-bottom: 50px;
}

.section-desc img {
	border-radius: 10px;
}

.section-desc .content-watch {
	position: relative;
}

.section-desc .content-watch .content-logo-watch {
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-desc-img img {
	border-radius: 10px;
}

.content-info-desc {
	position: absolute;
	bottom: 0;
	padding: 15px 30px;
}

.content-info-desc h1 {
	font-size: 90px;
	color: #ffd30a;
	margin:0;
}

.content-info-desc p {
	font-size: 20px;
	font-weight: bold;
}

.content-info-desc h4 {
	font-size: 18px;
	color: #ffd30a;
}

.content-btn-prom {
	padding: 50px 0;
	text-align: center;
}

.content-btn-prom .btn {
	text-transform: uppercase;
	font-size: 38px;
}

.content-socials-icons {
	text-align: center;
}

.content-socials-icons ul {
	padding: 0;
	list-style: none;
}

.content-socials-icons h4 {
	margin-bottom: 30px;
}

.content-socials-icons ul li {
	display: inline-block;
	padding: 0 25px;
	border-right: 1px solid;
	height: 20px;
}

.content-socials-icons ul li .icon {
	vertical-align: inherit;
}

/* Landing 2 */
.banner-landing2  {
	position: relative;
}

.banner-landing2 img {
	width: 100%;
}

.banner-landing2 .content-info-top {
	position: absolute;
	padding: 100px 0;
	text-align: center;
	top: 0;
	right: 0;
	left: 0;
	max-width: 65%;
	margin: 0 auto;
}

.banner-landing2 .content-info-top h2 {
	font-size: 52px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	margin: 0;
}

.banner-landing2 .content-info-top h1 {
	font-size: 200px;
	color: #fff;
	font-weight: bold;
	line-height: 150px;
	letter-spacing: 30px;
	margin-bottom: 30px;
}

.banner-landing2 .content-info-top hr {
	border-top: 4px solid #fff;
}

.banner-landing2 .content-info-top p {
	font-size: 24px;
	color: #fff;
	line-height: 28px;
	margin-bottom: 50px;
}

.banner-landing2 .content-info-top .btn {
	text-transform: uppercase;
	font-size: 24px;
}

.banner-landing2 .content-info-bottom {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	max-width: 65%;
	margin: 0 auto;
	padding: 50px;
	margin-bottom: 20px;
}

.banner-landing2 .content-info-bottom .section-btn-prom {
	padding: 60px 0;
	text-align: center;
}

.banner-landing2 .content-info-bottom .section-btn-prom .btn {
	font-size: 30px;
}

/* Landing 3*/
.content-info-important {
	padding: 30px;
}

.content-desc-title {
	margin:0 30px;
}

.content-desc-title .title-info {
	font-size: 26px;
	color: #fff;
	margin: 0;
}

.content-desc-title .subtitle-info {
	text-transform: uppercase;
	color: #ffd30a;
	font-size: 10rem;
	line-height: 10rem;
}

.section-message {
	padding: 50px 0;
}

/*Landing 4 */
.content-imprent h1 {
	font-size: 60px;
	margin-bottom: 10px;
	color: #ffd30a;
}
.content-imprent p {
	color: #fff;
	margin: 0;
	font-size: 24px;
	line-height: 24px;
}

.title-utils-info {
	margin-bottom: 20px;
	font-weight: bold;
}

.section-utils-imprent .content-target {
	max-width: 30%;
	margin: 0 auto;
	display: flex;
	padding: 20px 0;
}

.section-utils-imprent .content-target .content-icon-target {
	background-color: #ffd30a;
	display: inline-block;
	padding: 30px 15px;
	margin-right: 5px;
}

.target {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.section-utils-imprent .content-target .content-inputs {
	display: inline-block;
}

.section-utils-imprent .content-target .content-inputs .form-control {
	padding: 12px;
	text-align: center;
	background-color: #ebebeb;
	font-weight: bold;
	border-radius: 0;
}

.utils-logo {
	padding: 10px 0;
	text-align: center;
}

.utils-logo img {
	width: 50px;
}
.utils-text {
	margin: 15px 0;
}

/* Landing 5*/
.utils-banner {
	background-color: #6f6f6f;
	border-top: 1px solid #ffd30a;
	padding: 30px;
	color: #fff;
	margin: 20px 0;
}


/* Landing 6*/
.content-header-title {
	margin: 0 -30px -15px -30px;
	background-color: #6f6f6f;
	text-align: left;
	padding: 50px 20px;
	color: #fff;
}

.content-dates .title-row {
	margin: 12px 0;
}

.content-text-sucursal {
	padding: 30px;
}

/* Landing 7*/
.content-table {
	max-width: 50%;
	margin: 0 auto;
	padding: 40px 0;
}
.content-table .content-title-table {
	padding: 15px;
}

.content-table .content-text-table {
	padding: 10px 20px;
}

.content-utils-table .utils-text {
	margin: 20px;
}

.content-utils-table .utils-logo img {
	width: auto;
}

.content-description-table {
	text-align: center;
	max-width: 80%;
	margin: 0 auto;
	padding: 40px 0;
}

.content-honor {
	max-width: 45%;
	margin: 0 auto;
	padding: 20px;
	display: flex;
}

.content-honor .content-img-honor {
	display: inline-block;
	margin-right: 20px;
}

.content-honor .content-text-honor {
	display: inline-block;
}
.content-honor .content-text-honor p {
	margin: 10px 0;
}

/* LAnding 8*/
.content-utils-table {
	padding: 30px 0;
}